/*
Theme Name: yibra
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: yibra
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

yibra is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900";

@font-face {
    font-family: "Ionicons";
    src: url("fonts/Ionicons.woff");
    src: url('fonts/ionicons.eot'); /* IE9 Compat Modes */
    src: url('fonts/ionicons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/ionicons.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/ionicons.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/ionicons.svg') format('svg'); /* Legacy iOS */
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

select {
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    /*color: royalblue;*/
}

a:visited {
    /*color: purple;*/
}

a:hover,
a:focus,
a:active {
    /*color: midnightblue;*/
}

a:focus {
    outline: none;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
    background: transparent;
    box-shadow: none;
    overflow: visible;
    height: 100%;
    margin: 0px;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 0px;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: block;
    width: 147px;
    height: 103px;
}

.custom-logo-link img {

}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11111%;
}

.gallery-caption {
    display: block;
}

/** menu style**/
a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* OVERLEY*/

#page .overlay{
    position: fixed;
}

/* OPEN / CLOSE BTNS */


.menu-btn {

    z-index: 999;
    display: inline;
    font-size: 32px;
    top: 50px;
             
}

.menu-btn a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    font-size:25px;
         
    /* safari hack */
}

.btn-open:after {
    color: #fff;
    content: "\f394";
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}

.btn-open:hover:after {
    color: #ffffff;
}

.btn-close {
    background-color: #ffffff !important;
}

.btn-close:after {
    color: #000000;
    content: "\f2d7";
    font-family: "Ionicons";
    outline: noness;

}

.btn-close:hover:after {
    color: #000000;
}

/* OVERLAY */

.overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1) !important;
    z-index: 10;
    border-bottom: 1px solid #ffffff;
    transition : width 400ms ;
}
#masthead .overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1) !important;
    z-index: 10;
    border-bottom: 1px solid #ffffff;
    transition : width 400ms ;
}

.overlay .menu {
    margin: 0px auto;
    width: 80%;
}

.overlay .menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay .menu ul li {
    float: left;
    padding: 1px 0;
    width: 100%;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
}

.overlay .menu ul li a {

}

.overlay .menu ul ul {
    margin-top: 50px;
}

.overlay .menu ul ul li {
    position: relative;
    float: none;
    margin: 0;
    width: 100%;
    border: 0;
}

.overlay .menu ul ul li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}

.overlay .menu ul ul li a:hover {

}

#home_contact input[type=submit] {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
    width: 128px;
    height: 42px;
    font-family: 'Raleway';
    font-size: 11.95px;
    font-weight: bold;
    transition: all 400ms;

}

#home_contact input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    border: 1px solid #ffffff;
    outline: none;
}

.from_instgram {
    width: 100%;
}

.feeds_ {

    height: 275px;
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
}

.from_instgram > div:first-child {
    padding: 0px !important;
    margin: 0px;
}

#from_instgram .feeds_ {
    padding-left: 1px;
    padding-right: 1px;
}

.feeds_instgram_yp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.feeds_instgram_yp_all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}

.feeds_instgram_yp_item {
    height: 275px;
    width: 20%;
    position: relative;
}
.feeds_instgram_yp_item_home {
    height: 275px;

    position: relative;
}


.feeds_instgram_yp_item2 {

    height: 275px;
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
}

.feeds_instgram_yp_images {
    width: 100%;
    height: 275px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feeds_instgram_yp_images .imgFeed {
    width: 275px !important;
    height: 275px !important;
}

.sbi_imgLiquid_bgSize:before {
    content: '';
    background-color: #cdcdce;
    border: 3px solid #000000;
    display: none;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.feeds_instgram_yp_text .txt_instgram {

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;

}

.feeds_instgram_yp_text {
    transition: all 450ms;
}

.feeds_instgram_yp_text, .feeds_instgram_yp_text:visited, .feeds_instgram_yp_text:focus {
    background-color: rgba(255, 255, 255, .8);
    border: 3px solid #000000;

    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    font-family: 'Raleway';
    font-size: 11.95px;
    color: #000000;
    transition: all 400ms;
}

.feeds_instgram_yp_text:hover, .feeds_instgram_yp_text:active, .feeds_instgram_yp_text:focus {
    background-color: rgba(255, 255, 255, .8);
    border: 3px solid #000000;

    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;

}

.feeds_ .feeds_instgram_yp_text:hover, .feeds_instgram_yp_text:active, .feeds_instgram_yp_text:focus {
    background-color: rgba(0, 0, 0, .5);
    border: 3px solid transparent;

    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    color: #ffffff;

}

.feeds_ .icon_instgram {
    width: 100%;
    display: block;
    font-size: 35px;
    color: #ffffff;
}

.icon_instgram {
    width: 100%;
    display: block;
    font-size: 35px;
    color: #000000;

}
.caption_ .icon_instgram {
    width: 100%;
    display: block;
    font-size: 35px;
    color: #ffffff;

}

#from_instgram .kc_column {
    padding-right: 0px;
    padding-left: 0px;
}

.follow_home {
    text-align: center;
    margin: 40px 0px;
}

.follow_txt {
    font-family: 'Raleway';
    font-size: 20.49px;
    color: #000000;

}

.follow_txt2 {
    font-family: 'Raleway';
    font-size: 20.49px;
    color: #000000;
    font-weight: 600;
}

.sbi_imgLiquid_bgSize:hover:before {
    display: block;
}

#map {
    height: 430px;
    position: relative;
    width: 100%;
}

.site-info {
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
}

.copy a {
    margin-left: 3px;
    color: #000000;
}

.btn_top {
    width: 60px;
    height: 35px;
    background-color: #000000;
    margin: 0px auto;
    position: relative;
    display: block;
    cursor: pointer;
}

.btn_top i {
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#map_home {
    width: 100%;
}

#map_home .kc_column {
    padding: 0px;
}

nav ul a:hover {
    background-color: transparent !important;
    transition: all 400ms;
    transform: translateX(0px);
}

nav ul a:after {
    content: "";
    width: 20px;
    height: 1px;
    display: block;
    opacity: 0;
    background-color: #ffffff;
    margin: 0px auto;
    transform: translateX(0px);
    transition: all 400ms;

}
nav ul a:after:hover {
    /*transform: translateX(30px);*/
}
nav ul a {
    font-family: 'Raleway', Sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
    /*transform: translateX(30px);*/
}

nav ul a:hover:after {
    content: "";
    width: 20px;
    height: 1px;
    display: block;
    opacity: 1;
    background-color: #ffffff;
    margin: 0px auto;

}

.header_menu {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    align-items: center;
    margin-top: 36px;
}

.search_menu {
    width: 80%;
}

.social_menu {
    align-self: flex-end;
}

.social_menu ul {
    margin: 0px;

}

.social_menu ul li:last-of-type {
    padding: 0px;

}

.overlay .menu ul li {
    opacity: 1;
    transform: translateX(0px);
    transition: ease 500ms;

}

.move_ {
    transform: translateX(40px) !important;
}

.overlay .menu ul li:nth-child(1) {
    transition-delay: 100ms;
}

.overlay .menu ul li:nth-child(2) {
    transition-delay: 150ms;
}

.overlay .menu ul li:nth-child(3) {
    transition-delay: 200ms;
}

.overlay .menu ul li:nth-child(4) {
    transition-delay: 250ms;
}

.overlay .menu ul li:nth-child(5) {
    transition-delay: 300ms;
}

.slick-initialized .slick-slide {
    outline: none;
    cursor: pointer;
}

#news_letter #mailpoet_form_1 {
    max-width: 400px;
    margin: 0px auto;
    position: relative;
}

#news_letter .mailpoet_submit {
    position: absolute;
    top: 1px;
    right: 0px;
    height: 45px;
    background: #000000;
    color: #ffffff;
    font-family: 'Raleway';
    border: none;
    border-radius: 0px;
    width: 30%;
}
#news_letter .mailpoet_submit:hover{
    background: #ffffff;
    color: #000000;
        border: 1px solid #000000;
    font-weight: bold;
}
#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea {
    width: 70% !important;
    font-family: 'Raleway';
    color: #000000;
}

#news_letter #es_txt_email {

}

#news_letter .es_button {

}

#searchform {
    position: relative;
}
#searchform label[for='s'].active{
    color: #fff;

}

#mailpoet_form_1 .parsley-errors-list{
    font-family: 'Raleway';
        font-weight: 700;
}
#searchform #searchsubmit {
    position: absolute;
    width: 5%;
    height: 100%;
    right: 7px;
    top: 0px;
    padding: 0px;
    background: transparent;
    border: transparent;
    color: #ffffff;
}

#searchform input[type='text'] {
    margin: 0px;
    height: 30px;

}

.social ul li:last-of-type {
    padding: 0px;
}

#content {
    overflow: hidden;
}

.logo_yibra {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.contact, .Médiathèque, .post-type-archive-mediatheque header {
    height: 342px;
}

/*.post-type-archive-mediatheque header {
    background-image: url('img/mediatheque_1366.png') !important;
    display: block;
}*/
.class_single_mediatheque {
    background-image: url('img/media_detail_cover_1366.png') !important;
    display: block;
    height: 342px;
}

.class_mediatheque {
    background-image: url('img/mediatheque_1366.png') !important;
    display: block;
    height: 342px;
}

.motif {
    content: '';
    height: 28px;
    width: 1px;

    background-color: #ffffff;
    display: block;

    z-index: -1;
}

.motif1 {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotate(-45deg);

}

.motif2 {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: rotate(45deg);
}

.motif3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: rotate(45deg);

}

.motif4 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: rotate(-45deg);
}

.cover_with_link .breadcrumb {
    float: left;
    font-size: 15.37px;
    font-family: 'Raleway';
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cover_with_link a {
    font-family: 'Raleway';
    color: #ffffff;
}

.cover_with_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 30%;
    width: 36%;
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 91px;
    position: relative;
}

.title_custom_yp2 {
    margin: 0px auto;
    background: transparent;
    width: 130px;
    height: 130px;
    font-size: 30.73px;

    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    color: #ffffff;
    text-transform: uppercase;
    float: left;
    margin: 0px;
}

div.map-marker i, div.phone i, div.envelope i {
    margin-right: 17px;
}

.heures_, .coordonnees_, .touch_ {
    font-family: 'Raleway';
    font-size: 15.36px;
}


#media, #collection {
    margin-top: 87px;
    margin-bottom: 87px;
}

.date_media {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
}

.back_navigation_collection {
    background-image: url(img/collection/single_collection1_bottom.jpg);
    height: 428px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    background-repeat: no-repeat;
}
.back_navigation_media_single {
    background-image: url(img/media_detail_back.png);
    height: 428px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    background-repeat: no-repeat;
     background-size: cover;
}

.back_navigation_custom {
    height: 428px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    background-repeat: no-repeat;
      background-size: cover;
}

.back_navigation nav, post-navigation {
    background: transparent !important;
    position: absolute;
    top: 50%;
}

.previous_navigation {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.previous_navigation a {
    color: #ffffff;

}

.previous_navigation span:first-of-type {
    font-size: 13.66px;
    font-family: "Raleway";

    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
}

.previous_navigation span:last-of-type {
    font-size: 17.93px;
    font-family: "Raleway";

    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.next_navigation {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.next_navigation a {
    color: #ffffff;

}

.next_navigation span:first-of-type {
    font-size: 13.66px;
    font-family: "Raleway";

    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
}

.next_navigation span:last-of-type {
    font-size: 17.93px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.container_separator_link {
    width: 171px;
    height: 171px;
}

.separator_link {
    content: '';
    width: 4px;
    height: 171px;
    display: block;
    background-color: #ffffff;
    transform: rotate(45deg);
    margin: 0px auto;
}

.container_title_custom_yp2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30.73px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

.container_collection_item {
    position: relative;
}

.back_collection_item_lg {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    margin-bottom: 0px;
}
.back_collection_item_md {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 0px;
}

.back_collection_item_sm {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 0px;
}

.title_collection_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.902);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 70px;

}

.title_collection_item .logo_collection_item, .title_collection_item .exprect, .title_collection_item .btn_collection_link {
    margin-bottom: 30px;
}

.title_collection_item .exprect {
    color: #000000;
    font-family: 'Raleway';
    font-size: 16px;
}

.title_collection_item ::before {
    position: absolute;
    border: 1px solid #000;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    content: "";
    pointer-events: none;
}
.btn_collection{
        height: 50px;
    width: 250px;
        background: #000;
}
.btn_collection_link {
    background-color: rgb(0, 0, 0);
    padding: 0px;
    font-family: 'Raleway';
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 400ms;
    width: 100%;
    height: 100%;
    line-height: 50px;
    display: block;
        position: relative;
}

.class_header_collection {
    background-image: url(img/collection/cover_collection.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 400px;
}

.class_header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 400px;
}

.intsa_shop_header .entry-content {
    margin: 0px;
}

.intsa_shop_header {
    background-image: url(img/insta_shop.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 400px;
}

.collection_main {
    margin-top: 100px;
}

.back1 p:first-of-type {
    font-size: 30.74px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    max-width: 650px;
    margin: 0px auto 70px;

}

.back1 {
    background-color: #f0f0f0;
    padding-top: 70px;
}

.collection_single_page {
    background-color: #f0f0f0;

}

.no_padding {
    margin: 0px !important;
    padding: 0px !important;

}

.single-collection .class_header_collection {
    background-image: url(img/collection/single_collection1_cover.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: block;
    height: 400px;
}

.header_collection_single {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: block;
    height: 769px;
    position: relative;
}

.sub_title1 {
    font-size: 117.82px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto;
    display: block;
    font-weight: bold;
}

.sub_title_top {
    font-size: 61.47px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto;
    display: block;

}

.sub_title2 {
    font-size: 22px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
    margin: 0px auto;
    display: block;
    text-align: center;
    font-style: italic;
}

.sub_title2:before {
    content: "";
    width: 35%;
    height: 1px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);

}

.sub_title2:after {
    content: "";
    width: 35%;
    height: 1px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, 50%);

}

.sub_title_container2 {
    width: 100%;
}

.container_title {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.white {
    background-color: transparent !important;
}

.collection_single_page .white {
    background-color: transparent !important;
}

#from_instgram .container_load_more_instagram {
    width: 100%;
    display: block;

}

.container_loading_content {
    width: 100%;
    display: none;
    position: relative;
    height: 60px;
    clear: both;
}

.loading_content {

    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-size: cover;
    color: #ffffff;
    font-size: 20px;
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 200;
    background-position: center center;

    position: absolute;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 14%);

}

#from_instgram .load_more_instagram, .load_more_media, .misha_loadmore {

    width: 100%;
    margin: 0px auto;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 200;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    clear: both;
}

#from_instgram .row {
    margin-bottom: 0px;
}

.caption_ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#Load_update1.load_more {
    width: 100%;
    margin: 0px auto !important;
    background-color: #000000;
    color: #ffffff;
    font-size: 40px !important;
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 200;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border-radius: 0px !important;
    padding: 0px !important;

}

.allexamples {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background: #e9e9e9;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    position: fixed;
}

.site-branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 106px;
}

.social ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social ul li {
    padding-right: 30px;
}
.social ul li:nth-last-child{
    padding-right: 0px;
}
.social ul li a {
    color: #000000;
}

.social ul li a i {
    font-size: 25px;
}

.social_menu ul li a {
    color: #ffffff;
}

.white_ ul li a {
    color: #ffffff;
}

.white_.menu-btn a {
    background-color: #ffffff;
}

.white_.menu-btn .btn-open:after {
    color: #000000;
}

.line_ {
    background-color: rgb(0, 0, 0);
    width: 27px;
    height: 6px;
    display: block;
    position: absolute;
    top: 10px;
}

.title_ {
    position: relative;
    text-transform: uppercase;
    font-size: 20.48px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.title_:after {
    content: '';
    display: block;
    background-color: rgb(0, 0, 0);
    width: 27px;
    height: 6px;
    position: absolute;
    top: 27px;
}

.Rectangle_20 {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 171px;
    top: 469px;
    width: 27px;
    height: 6px;
    z-index: 71;
}

.sliderHome {
    /*background-image: url("img/slider.png");*/
    height: 654px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 15px;
}

.slider-for {
    width: 30%;
    position: absolute;
}

.slider-for a {
    outline: none;
    outline: none;
}

.slider-nav {
    width: 70%;
    margin: auto;
    height: 100%;
}

.yb_title1 {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 40.7px;
    color: #000000;
    text-transform: uppercase;
    margin: 0px;
}

.yb_title2 {
    font-family: 'Raleway';
    font-size: 63.37px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0px;
}

.section_slider_1 .btn_see_all ,.btn_see_all{
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #000;
    color: #000;
    width: 101px;
    height: 101px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 11.95px;

    float: right;
    position: relative;
}

.btn_see_all:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    transform: translate(-29%, -100%);
    margin-top: 0px;
    text-align: center;
    background-color: #000000;
    position: absolute;
    left: 29%;
    top: 100%;

}

.btn_see_all .elementor-button-text {
    display: flex;
    flex-direction: column;
}

.yb_slider_img {
    position: absolute !important;
    z-index: 9;
    top: 0;
    left: 29%;
    right: 0;
    margin: auto;
    transform: translateX(-50%);
    width: 205px !important;
    float: none;
}

.section_slider_1 {
    position: relative;
    height: 654px;
}

.section_slider_1:before {
    content: '';
    width: 388px;
    height: 400px;
    border: 12px solid black;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}

.yb_desc p {
    font-size: 12px;
    line-height: normal;
    margin-left: auto;
    font-family: 'Raleway';
    background-color: white;
    position: relative;
    max-width: 236px;
    font-size: 11.95px;
}

.slider-for .slick-slide {
    opacity: 0.5;
    color: #000000;
}

.slider-for .slick-current {
    opacity: 1;
}

.slider-for-items a:after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #000000;
    display: block;
}

.slider-for-items a {
    color: #000000;
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 20.49px;
    text-transform: uppercase;
}

.titres_slider {
    background-color: #ffffff;
    margin-top: 76px;
}

.home_about {
    background-color: #000000;
    padding: 114px 0px;
}

.page_about {
    background-color: #ffffff;
    padding: 114px 0px;
}

.title_custom_yp:before {
    content: '';
    height: 110px;
    width: 1px;
    transform: rotate(45deg) translateX(-50%);
    background-color: #000000;
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -1;
}

.title_custom_yp:after {
    content: '';
    height: 110px;
    width: 1px;
    transform: rotate(-45deg);
    background-color: #000000;
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    transform: rotate(-45deg) translateX(-50%);
    z-index: -1;
}

.title_custom_yp {
    margin: 0px auto;
    background: #ffffff;
    width: 110px;
    height: 110px;
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin-top: 42px;
    margin-bottom: 42px;
}

.white_ ul li a:hover {
    color: rgba(256, 256, 256, .5);
}

.feeds_instgram {

}

.about_home {
    height: 493px;
    background: url(img/contact_back.png) center center/cover no-repeat fixed;
        background-size: cover;
}

.title_custom_yp span:first-child {
    background: #ffffff;
    font-family: 'Raleway';
    font-size: 17.93px;
    font-weight: bold;
    padding-top: 5px;
}

.title_custom_yp span:last-child {
    background: #ffffff;
    font-family: 'Raleway';
    font-size: 17.93px;
    font-weight: lighter;
    padding-bottom: 5px;
}

.about_home .title_custom_yp {
    background-color: #000000;
    margin-top: 42px;
        background: url(img/contact_back.png) center center/cover no-repeat fixed;
            mix-blend-mode: lighten;
}

.about_home .title_custom_yp span {
    background-color: #000000;
    color: #ffffff;
}

.about_home .title_custom_yp:after, .about_home .title_custom_yp:before {
    background-color: #ffffff;
}

.kc_text_block {
    font-family: 'Raleway';
}

.post_thumbnail_media_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Raleway';
    margin-top: 20px;
}
.post_thumbnail_media_title i {
        font-size: 1.9em;
    color: #000;
    margin-right: 11px;
        align-self: flex-start;
}
.post_thumbnail_media_title img {
    vertical-align: middle;
    margin-right: 11px;
}

.title_media{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
       margin: -6px 0px 0px;
        align-self: flex-start;

}
.date_post{
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(107, 107, 107);
    line-height: 1.333;
}


.post_thumbnail_media_title span {
    margin-right: 23px;
}

.slider-nav:before {
    content: '';
    width: 100%;
    max-width: 400px;
    height: 80px;
    background-color: transparent;
    border-top: 17px solid #000000;
    border-left: 17px solid #000000;
    border-right: 17px solid #000000;
    border-bottom: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    margin: auto;
    display: block;

}

.slider-nav:after {
    content: '';
    width: 100%;
    max-width: 400px;
    height: 80px;
    background-color: transparent;
    border-bottom: 17px solid #000000;
    border-left: 17px solid #000000;
    border-right: 17px solid #000000;
    border-top: transparent;
    position: absolute;
    left: 0px;
    bottom: 80px;
    right: 0;
    margin: auto;
    display: block;
    z-index: -1;

}
.info_slider{
    padding-top: 90px;
    position: relative;
}
.img_text img{

}
.img_center{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
}
.slick-list {
   height: 100%;
}
.img_text{
    float: right;
    width: 40%;
    padding-left: 10px;
}
.kc_title{
    font-size: 30px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;


}
.video_media{
    width: 100%;
        min-height: 300px;

}
.video_media iframe{
    width: 100%;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    color:#ffffff;
    font-family: "Raleway";
}
.wpcf7 textarea.materialize-textarea {
    padding: .8rem 0 0.23rem 0 ;

}
#about_home .wpcf7 input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff !important;
    -webkit-box-shadow: 0 1px 0 0 #26a69a !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}
.wpcf7 .input-field label{
    font-family: "Raleway";
    color: #ffffff;

}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    font-family: "Raleway";
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #090909;
}
#about_home .your-email, #about_home .your-name, #about_home .tel-493 , #about_home .your-message{
    position: absolute;
    top: 92%;
    font-family: "Raleway";
    font-weight: bolder;
}
#about_home .div.wpcf7-response-output{
    display: none !important;
}
.wpcf7-display-none{
    display: none !important;

}
.span.wpcf7-not-valid-tip{
    font-family: "Raleway";
}
#about_home #message{
    min-height: 12.78rem;
}
.btn_collection_link:hover{
    background-color: #ffffff;
    color: #000000;
    border:1px solid  #000000;

}
.home_single{
    /*margin-right: 20px;*/
}

.search-results .class_header{
    background-image: url(http://localhost/yibra/wp-content/uploads/2017/08/contact_back.png);
}
.page-title{
    font-family: 'Raleway';
    font-size: 3.56rem;
}.entry-title a{
    font-family: 'Raleway';
    font-size: 2.9rem;
     color: #000;
}
.current_page_item a:after {
    content: "";
    width: 20% ;
    height: 1px;
    display: block;
    opacity: 1;
    background-color: #ffffff;
    margin: 0px auto;
    transform: translateX(0px);
    transition: all 400ms;
}
.anime_link{
    opacity: 1;
    transform: translateX(40px);
    transition: ease 500ms;
}
.no_anime_link{
    opacity: 1;
    transform: translateX(0px);
    transition: ease 500ms;
}
.img_load{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;

}
.home_about{
    text-align:justify;
}
.error404 header{

}
.captcha_contact{
        display: flex;
    justify-content: center;
}
#home_contact{
    max-width: 771px;
}
.error-404{
min-height: 400px;
}
.post_thumbnail_media a{
    display: block;
}
.post_thumbnail_media a img{
    width: 100%;
}
.column_media > div{
    padding: 0px;
}
.alignnone{
    box-shadow: 0px 7px 46px 0px rgba(0, 0, 0, 0.09);
}
.logo_yibra{
    width: 126px;
}
.padding-left{


}
.photo_yibra{
    width: 312px;
    /*height: 392px;*/
}
.btn_see_all:hover{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}
.btn_see_all:hover:before{
   color: #ffffff;
}
.contact_info{
    margin: 90px auto;
    max-width: 1200px;
}
.contact_info:after{
    content: '';
    clear: both;
        display: block;
}
#collection{
    border:transparent;
}
    /************************************* RESPONSIVE *************************************/

@media screen and (min-width: 320px) {
    .socialtop ul {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0px;
    }

    .socialtop {

    }

    .logo_yibra {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .socialtop ul li {
        padding: 0px;
    }

    #titres_slider.titres_slider {
        display: none;
    }

    .yb_desc {
        display: none !important;
    }

    .section_slider_1:before {
        display: none;
    }

    .yb_slider_img {
        position: absolute !important;
        z-index: 9;
        top: 0;
        left: 50%;
        right: 0;
        margin: auto;
        transform: translateX(-50%);
        width: 100% !important;
        float: none;
    }

    .kc_single_image img {
        margin: 0px auto;
        width: 312px;
    
    }
    .kc_single_image .think_black{
        width: 100%;
    }

    .site-branding {
        padding-top: 10px;
    }

    .yb_title1, .yb_title2 {
        display: none;
    }

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }

    .sliderHome {
        position: relative;
        height: auto;
        padding-bottom: 20px;
    }

    .sliderHome .slider-for {
        top: 0px;
    }

    .sliderHome .slider-for .polite {
        padding: 0px;
    }

    .sliderHome .slider-for .slider-for-items a {
        font-size: 24px;
    }

    .feeds_instgram_yp {
        flex-direction: column;
        padding: 10px;
    }

    .feeds_instgram_yp .feeds_instgram_yp_item {
        width: 100%;
    }

    #news_letter {
        margin: 0px auto;
        list-style-type: none;
    }

    .home_about {
        padding: 24px 0px;
    }



    .cover_with_link {
        flex-direction: column;
        min-height: 200px;
        margin-top: 0px;
        width: 100%;
    }

    .cover_with_link .breadcrumb {
        position: absolute;

        top: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        transform: translate(0%, 0);
    }
    .about_home{
        height: auto;
    }

    .site-info {
        flex-direction: column;
        text-align: center;
        padding: 30px 0px 45px;
    }

    .copy {
        order: 2;
    }

    .social {
        order: 1;
    }
    .img_text .text_see :not(.btn_see_all){
        display: none;
    }
    .img_center{
        height: 420px;
    }
    .slider-nav:before, .slider-nav:after{
        display: none;
    }
    .btn_see_all{
        background-color: transparent;
        border-radius: 0px;
        border: transparent;
        color: #000;
        width: initial;
        height: inherit;
        text-align: center;
        display: block;
        font-family: 'Raleway';
        font-size: 11.95px;
        float: none;
        position: relative;
        max-width: 100px;
        margin: 0px auto;
        padding-bottom: 10px;
        margin-top: 20px;
        font-weight:400;
    }
    .btn_see_all{
        
    }
    .info_slider {
        padding-top: 0px;
        position: relative;
    }
    .img_center {
        position: relative;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .img_text {
        float: right;
        width: 100%;
        padding-left: 0px;
    }
    .btn_see_all:after{
        content: "";
        display: inline-block ;
        width: 100%;
        height: 2px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: translate(-29%, -100%);
        margin-top: 0px;
        text-align: center;
        background-color: #000000;
        position: absolute;
        left: 29%;
        top: 100%;
    }
    .btn_see_all:before{
        content: "\f0dd";
        display: inline-block !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: rotate(-90deg);
        margin-top: 0px;
        text-align: center;
        color: #000000;
        position: absolute;
        right: 0%;
        top: 0px;

    }
    .title_collection_item{
        width: 100%;
        height: 100%;
    }
    #media,#collection{
        margin-top: 25px;
        width: 100%;
    }
    .class_header_collection{
        height: 369px;
    }
    .container_separator_link {
        width: 286px;
        height: 286px;
    }
    .separator_link {
        content: '';
        width: 4px;
        height: 286px;
        display: block;
        background-color: #ffffff;
        transform:rotate(45deg) translateX(14px);
        margin: 0px auto;
    }
    .header_collection_single{
        height: 342px;
    }
}

/* end 320*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    #titres_slider.titres_slider {
        display: none;
    }

    #titres_slider .yb_desc {
        display: none !important;
    }

    .section_slider_1:before {
        display: none;
    }

    .site-branding {
        padding-top: 10px;
    }

    .yb_title1, .yb_title2 {
        display: none;
    }

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }

    .sliderHome {
        position: relative;
    }

    .sliderHome .slider-for {
        top: 0px;
    }

    .sliderHome .slider-for .polite {
        padding: 0px;
    }

    .sliderHome .slider-for .slider-for-items a {
        font-size: 24px;
    }

    #news_letter {
        margin: 0px auto;
        list-style-type: none;
    }

    .home_about {
        padding: 24px 0px;
    }



    .cover_with_link {
        flex-direction: column;
        min-height: 200px;
        margin-top: 0px;
        width: 100%;
    }

    .cover_with_link .breadcrumb {
        position: absolute;

    display: flex;
    justify-content: center;
    width: 100%;
        left: 0%;
        top: 0px;
        transform: translate(0%, 0);
        
    }

    .site-info {
        flex-direction: column;
        text-align: center;
        padding: 30px 0px 45px;
    }

    .copy {
        order: 2;
    }

    .social {
        order: 1;
    }
    .info_slider {
        padding-top: 0px;
        position: relative;
    }
    .img_center {
        position: relative;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .img_text {
        float: right;
        width: 100%;
        padding-left: 0px;
    }
    .btn_see_all:after{
        content: "";
        display: inline-block ;
        width: 100%;
        height: 2px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;

        transform: translate(-29%, -100%);
        margin-top: 0px;
        text-align: center;
        background-color: #000000;
        position: absolute;
        left: 29%;
        top: 100%;
    }
    .btn_see_all:before{
        content: "\f0dd";
        display: inline-block !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: rotate(-90deg);
        margin-top: 0px;
        text-align: center;
        color: #000000;
        position: absolute;
        right: 0%;
        top: 0px;

    }
    .title_collection_item{
        width: 100%;
        height: 100%;
    }
    #media{
        margin-top: 25px;
    }
    .container_separator_link {
        width: 286px;
        height: 286px;
        position: absolute;
            left: 50%;
    top: 50%;
  transform: translate(-50%, -50%);
    }
    .separator_link {
        content: '';
        width: 4px;
        height: 286px;
        display: block;
        background-color: #ffffff;
        transform:rotate(45deg) translateX(14px);
        margin: 0px auto;
    }
    .previous_navigation {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 10;
        flex-basis: 50%;
        text-align: center;
        bottom: 10%;
    }
    .next_navigation {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 10;
        /* align-items: flex-end; */
        top: 20%;
            flex-basis: 50%;
    }
    .back_navigation_media_single {
        background-image: url(img/media_detail_back.png);
        height: 371px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .container_post_thumbnail_media{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header_collection_single{
        height: 568px;
    }
    .sub_title_top{
    font-size: 21.89px;

    }
    .sub_title1{
        font-size: 41.96px;
        position: relative;
    }
    .sub_title1:after{
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        right: 50%;
        top: 100%;
        transform: translate(50%, 100%)
    }
    .sub_title2{
        font-size: 42px;
    }
    .sub_title2:before{
display: none;
    }
    .sub_title2:after{
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        right: 50%;
        top: 100%;
        transform: translate(50%, 100%)
    }
    .back1 p:first-of-type{
        font-size: 18px;
        font-family: "Raleway";
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        max-width: 650px;
        margin: 70px auto 70px;
    }
    .back_navigation_custom{
        height: 371px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .back1{
        display: none;
    }
    .sa_owl_theme .owl-dots{
        top: 0px;
        z-index: -1;
    }
    #contact_info{
        margin-bottom: 20px;
    }
    .sign{
            margin: 30px auto;
    display: block;
    width:128px;
    }
    
.page_about{
    padding-bottom: 20px;
        padding-top: 30px;
}
.collection_item {
padding-left: 10px;
padding-right: 10px;
}
.btn_top{
        width: 100%;
    height: 60px;
}
#collection{
    margin-top: 0px;
}
}

 /*end 480*/



@media screen and (min-width: 480px) and (max-width: 667px) and (orientation: landscape){
.container_title {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}
.sub_title_top {
    font-size: 21.89px;
}
.sub_title1 {
    font-size: 41.96px;
    position: relative;
}
.sub_title_container2 {
    width: 100%;
}
.sub_title2 {
    font-size: 42px;
}
.sub_title2:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    right: 50%;
    top: 100%;
    transform: translate(50%, 100%);
}
.sub_title1:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    right: 50%;
    top: 100%;
    transform: translate(50%, 100%);
}
.sub_title2:before {
display: none;
}
.header_collection_single {

    height: 568px;
    width: 100%;
}
.back1{
    background: transparent;
}
.sign{
    display: block;
    margin: 0px auto;
}
.collection_item {
padding-left: 10px;
padding-right: 10px;
}
#collection{
    margin-top: 0px;
}
.btn_top{
        width: 100%;
    height: 60px;
}
}
/* end 480 => 667px */
@media screen and (min-width: 768px) and (max-width: 900px) {
.overlay .menu ul li:last-child {
        border: 0;
    }

    .overlay .menu ul ul {
        margin-top: 20px;
    }

    .menu-btn {
        /*right: 25px;*/
    }
    .title_collection_item {
        /*width: 90%;*/
    }
    #titres_slider.titres_slider {
        display: block;
    }

    .yb_desc {
        display: block !important;
    }

    .section_slider_1:before {
        content: '';
        width: 388px;
        height: 400px;
        border: 12px solid black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        display: block;
    }

    .container_text_all {
        float: right;
        width: 100%;
    }

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    .socialtop ul {
        flex-direction: row;
    }

    .socialtop ul li {
        padding-right: 30px;
    }

    .feeds_instgram_yp {
        flex-direction: row;
        padding: 0px;
    }

    .feeds_instgram_yp .feeds_instgram_yp_item {
        width: 20%;
    }

    .site-info {
        flex-direction: row;
        text-align: center;
        padding: 30px 0px 45px;
    }

    .copy {
        order: 1;
    }

    .social {
        order: 2;
    }

    .sliderHome .slider-for {
        top: 50%;
        transform: translateY(-50%);
    }

    .container_info_galerie {
        width: 100%;
        display: block;
        position: relative;
    }

    .from_instgram {
        display: block;
    }

    .img_text .text_see :not(.btn_see_all) {
        display: block;
    }

    .slider-nav:before {
        content: '';
        width: 100%;
        max-width: 400px;
        height: 80px;
        background-color: transparent;
        border-top: 17px solid #000000;
        border-left: 17px solid #000000;
        border-right: 17px solid #000000;
        border-bottom: transparent;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0;
        margin: auto;
        display: block;

    }

    .slider-nav:after {
        content: '';
        width: 100%;
        max-width: 400px;
        height: 80px;
        background-color: transparent;
        border-bottom: 17px solid #000000;
        border-left: 17px solid #000000;
        border-right: 17px solid #000000;
        border-top: transparent;
        position: absolute;
        left: 0px;
        bottom: 229px;
        right: 0;
        margin: auto;
        display: block;
        z-index: -1;

    }

    .socialtop {
        flex-direction: row;
    }

    .btn_see_all {
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid #000;
        color: #000;
        width: 101px;
        height: 101px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-weight: lighter;
        font-size: 11.95px;

        float: right;
        position: relative;
    }
    .img_center {
        height: auto;
    }
    .sliderHome {
        min-height: 768px;
        padding-bottom: 0;
    }
    .img_center {
        position: relative;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 625px;
    }
    .img_text {
        float: right;
        width: 100%;
        padding-left: 10px;
        display: flex;
        position: absolute;
        bottom: 0px;
    }
    .btn_see_all:after{
        display: none;
    }
    .info_slider {
        padding-top: 130px;
        position: relative;
    }
    .btn_see_all:before{
        content: "\f0dd";
        display: inline-block !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: rotate(-90deg);
        margin-top: 0px;
        text-align: center;
        color: #000000;
        position: absolute;
        right: 50%;
        top: 62%;
    }
    .yb_title1, .yb_title2 {
        display: block;
    }
    .text_see{
        display: flex;
        align-items: center;
        align-items: center;
        padding-left: 10%;
    }
    .img_text .text_see p{
        width: 50%;
        text-align: justify;
        align-self: center;
    }
    .img_text .text_see .btn_see_all{
        width: 50%;
        text-align: justify;
        align-self: center;
    }
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    .sliderHome .slider-for {
        top: 0%;
        transform: translateY(0%);

    }
    #sliderHome .slider-nav{
        margin-top: 120px;
    }
    #sliderHome .slick-list.draggable{
        padding: 0px !important;
    }
    .title_collection_item {
        width: 80%;
        height: 80%;
    }
    .mediatheque{
        display: flex;
        justify-content: center;
    }
    .header_collection_single{
        height: 568px;
    }
    .sub_title_top{
        font-size: 21.89px;

    }
    .sub_title1{
        font-size: 41.96px;
        position: relative;
    }
    .sub_title1:after{
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        right: 50%;
        top: 100%;
        transform: translate(50%, 100%)
    }
    .sub_title2{
        font-size: 42px;
    }
    .sub_title2:before{
        display: none;
    }
    .sub_title2:after{
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        right: 50%;
        top: 100%;
        transform: translate(50%, 100%)
    }
    .back1 p:first-of-type{
        font-size: 24px;
        font-family: "Raleway";
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        max-width: 650px;
        margin: 70px auto 70px;
    }
    .back_navigation_custom{
        height: 371px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .back1{
        display: block;
        padding-top: 0px;
    }
    .sa_owl_theme .owl-dots{
        top: 0px;
        z-index: -1;
    }
    .back_navigation_custom{
        height: 500px;
    }
     #contact_info{
        margin-bottom: 0px;
    }
    .sign{
            margin: 0px auto;
    display: block;
    }
.mediatheque {
margin-top: 13px;
}
.column_media{
    margin-top: 30px;
}
.contact_info{
     margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
   
}
.contact_info:after{
    content: '';
    clear: both;
        display: block;
}
.contact_info > div{
    width: 50%;
} 
.page_about{
padding-bottom: 20px;
padding-top: 30px;
}
}

/* end 768*/
@media screen and (min-width: 900px) and (max-width: 1200px) {
    #titres_slider.titres_slider {
        display: block;
    }

    .yb_desc {
        display: block !important;;
    }

    .section_slider_1:before {
        content: '';
        width: 388px;
        height: 400px;
        border: 12px solid black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        display: block;
    }

    .yb_title1, .yb_title2 {
        display: block;
    }

    .container_text_all {
        float: right;
        width: 100%;
    }

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    .socialtop ul {
        flex-direction: row;
    }

    .socialtop ul li {
        padding-right: 30px;
    }

    .feeds_instgram_yp {
        flex-direction: row;
        padding: 0px;
    }

    .feeds_instgram_yp .feeds_instgram_yp_item {
        width: 20%;
    }

    .container {
        width: 100%;
    }

    .site-info {
        flex-direction: row;
        text-align: center;
        padding: 30px 0px 45px;
    }

    .copy {
        order: 1;
    }

    .social {
        order: 2;
    }

    .sliderHome .slider-for {
        top: 50%;
        transform: translateY(-50%);
    }

    .container_info_galerie {
        width: 100%;
        display: block;
        position: relative;
    }

    .from_instgram {
        display: block;
    }

    .from_instgram {
        display: block;
    }

    .img_text .text_see :not(.btn_see_all) {
        display: block;
    }

    .slider-nav:before {
        content: '';
        width: 100%;
        max-width: 400px;
        height: 80px;
        background-color: transparent;
        border-top: 17px solid #000000;
        border-left: 17px solid #000000;
        border-right: 17px solid #000000;
        border-bottom: transparent;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0;
        margin: auto;
        display: block;

    }

    .slider-nav:after {
        content: '';
        width: 100%;
        max-width: 400px;
        height: 80px;
        background-color: transparent;
        border-bottom: 17px solid #000000;
        border-left: 17px solid #000000;
        border-right: 17px solid #000000;
        border-top: transparent;
        position: absolute;
        left: 0px;
        bottom: 80px;
        right: 0;
        margin: auto;
        display: block;
        z-index: -1;

    }

    .socialtop {
        flex-direction: row;
    }

    .btn_see_all {
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid #000;
        color: #000;
        width: 101px;
        height: 101px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-weight: lighter;
        font-size: 11.95px;

        float: right;
        position: relative;
    }
    .img_center {
        height: auto;
    }
    .sliderHome{
        height: 654px
    }
    .img_center {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .img_text {
        float: right;
        width: 40%;
        padding-left: 10px;
        font-family: 'Raleway';
    }
    .btn_see_all:after{
        display: none;
    }
    .info_slider {
        padding-top: 90px;
        position: relative;
    }
    .btn_see_all:before{
        content: "\f0dd";
        display: inline-block !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: rotate(-90deg);
        margin-top: 0px;
        text-align: center;
        color: #000000;
        position: absolute;
        right: 50%;
        top: 62%;
    }
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    .sliderHome {
        height: 674px;
        margin-bottom: 30px;
    }
    .sliderHome .slider-for {
        top: 0%;
        transform: translateY(0%);

    }
    .sliderHome .slider-for {
        top: 0%;
        transform: translateY(0%);

    }
    #sliderHome .slider-nav{
        margin-top: 30px;
    }
    #sliderHome .slick-list.draggable{
        padding: 0px !important;
    }
    .yb_title2{
        font-size: 60px;
    }
    .title_collection_item {
        width: 85%;
        height: 85%;
    }
    .header_collection_single{
        height: 900px;
    }
    .sub_title_top{
        font-size: 54.78px;

    }
    .sub_title1{
        font-size: 105px;
        position: relative;
    }
    .sub_title1:after{
      display: none;
    }
    .sub_title2{
        font-size: 22px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        position: relative;
        margin: 0px auto;
        display: block;
        text-align: center;
        font-style: italic;
    }
    .sub_title2:before{
        content: "";
        width: 35%;
        height: 1px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(50%, 50%);
    }
    .sub_title2:after{
        content: "";
        width: 35%;
        height: 1px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
    }
    .back1 p:first-of-type{
        font-size: 36px;
        font-family: "Raleway";
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        max-width: 650px;
        margin: 0px auto 0px;
    }
    .back_navigation_custom{
        height: 371px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .back1{
        display: block;
    }
    .sa_owl_theme .owl-dots{
        top: 0px;
        z-index: -1;
        display: none;
    }
    .back_navigation_custom{
        height: 500px;
    }
    .container_title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .back1 p:first-of-type{
        display: block;
    }
     #contact_info{
        margin-bottom: 0px;
    }
.sign{
            margin: 0px;
    display: block;
    }
    .home_about {
    background-color: #000000;
    padding: 114px 0px;
}
#media,#collection {
    margin-top: 25px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.cover_with_link .breadcrumb {
    position: absolute;
    left: -40%;
    top: 45%;
    transform: translate(-50%, 0);
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.video_media iframe {
    height: 545px;
}
.mediatheque {
margin-top: 35px;
}
.column_media{
    margin-top: 30px;
}
 #media .row{
        display: flex;
        flex-wrap: wrap;

    }
    #media .col {
    margin: 0;
}
}
 /* end 900 - 1200*/
@media screen and (min-width: 1200px) {
    #titres_slider.titres_slider {
        display: block;
    }

    .yb_desc {
        display: block !important;
    }

    .section_slider_1:before {
        content: '';
        width: 388px;
        height: 400px;
        border: 12px solid black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        display: block;
    }

    .yb_title1, .yb_title2 {
        display: block;
    }

    .container_text_all {
        float: right;
        width: 100%;
    }

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    .socialtop ul {
        flex-direction: row;
    }

    .socialtop ul li {
        padding-right: 30px;
    }

    .feeds_instgram_yp {
        flex-direction: row;
        padding: 0px;
    }

    .feeds_instgram_yp .feeds_instgram_yp_item {
        width: 20%;
    }

    .container {
        width: 100%;
    }

    .site-info {
        flex-direction: row;
        text-align: center;
        padding: 30px 0px 45px;
    }

    .copy {
        order: 1;
    }

    .social {
        order: 2;
    }

    .sliderHome .slider-for {
        top: 50%;
        transform: translateY(-50%);
    }

    .container_info_galerie {
        width: 100%;
        display: block;
        position: relative;
    }

    .from_instgram {
        display: block;
    }

    .img_text .text_see :not(.btn_see_all) {
        display: block;
    }

    .slider-nav:before {
        content: '';
        width: 100%;
        max-width: 400px;
        height: 80px;
        background-color: transparent;
        border-top: 17px solid #000000;
        border-left: 17px solid #000000;
        border-right: 17px solid #000000;
        border-bottom: transparent;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0;
        margin: auto;
        display: block;

    }

    .slider-nav:after {
        content: '';
        width: 100%;
        max-width: 400px;
        height: 80px;
        background-color: transparent;
        border-bottom: 17px solid #000000;
        border-left: 17px solid #000000;
        border-right: 17px solid #000000;
        border-top: transparent;
        position: absolute;
        left: 0px;
        bottom: 80px;
        right: 0;
        margin: auto;
        display: block;
        z-index: -1;

    }

    .socialtop {
        flex-direction: row;
    }

    .btn_see_all {
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid #000;
        color: #000;
        width: 101px;
        height: 101px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-weight: lighter;
        font-size: 11.95px;

        float: right;
        position: relative;
    }
    .img_center {
        height: auto;
    }
    .sliderHome{
        height: 654px;
        padding-bottom: 0;
        margin-top: 30px;
            margin-bottom: 50px;
    }
    .img_center {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .img_text {
        float: right;
        width: 40%;
        padding-left: 10px;
    }
    .btn_see_all:after{
        display: none;
    }
    .info_slider {
        padding-top: 90px;
        position: relative;
    }
    .btn_see_all:before{
        content: "\f0dd";
        display: inline-block !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: rotate(-90deg);
        margin-top: 0px;
        text-align: center;
        color: #000000;
        position: absolute;
        right: 50%;
        top: 62%;
    }
    .title_collection_item {
        width: initial;
        height: initial;
    }
    .collection_item{
        margin-bottom: 100px;
    }
    #media,#collection {
        margin-top: 100px;
        width: 80%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #media .row{
        display: flex;
        flex-wrap: wrap;

    }
    
     #media .col{
margin: 0;
    }
    .cover_with_link .breadcrumb {
        position: absolute;
        left: 0%;
        top: 45%;
        transform: translate(-50%, 0);
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }
    .header_collection_single{
        height: 769px;
    }
    .home_about {
    background-color: #000000;
    padding: 114px 0px;
}
.video_media iframe {
    height: 675px;
}
.mediatheque {
    margin-top: 35px;
}
.column_media{
    margin-top: 30px;
}
}




